/* Text Formatting */
h1{
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    text-shadow: 60px 20px 80px rgb(67, 170, 210);
    background-color: blanchedalmond;
    color: rgba(255, 170, 0, 0.641);
}
p{
    text-align: justify;
    line-height: 1.5;
    letter-spacing: 1px;
    color: salmon;
    font-weight: 1500;
    font-size: 20px;
    font-family: cursive;
}
.thumbnail{
    height: 400px;
    width: 100%;
    border-radius: 30px;
    border: 9px solid plum;
    box-shadow: 4px 5px 6px 10px salmon;
    margin-top: auto;
    margin-left: 10%;
}
form{
    max-width: 350px;
    margin: auto;
    background-color: seashell;
    border: 2px solid ;
    padding: 35px;
    border-radius: 30px;
}
fieldset{
    border: 2px solid palevioletred;
    border-radius: 30px ;
}
legend{
    color: sandybrown;
    font-weight: bold ;
    padding: 10px;
}
input[type="text"],input[type="email"],input[type="password"]{
    width: 100% ;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
}
.form-group{
    margin-bottom: 15px;
}
input[type="Submit"]{
    background-color: aquamarine;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    color: darkblue;
    border: none;
}